/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* End of CSS reset */

body, html {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: linear-gradient(hsl(52, 100%, 50%), hsl(45, 100%, 50%));
}

.upcoming-weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 150px;
  gap: 1rem;
}

.content {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 400px;
  gap: 1rem;
}

.content > * {
  margin-bottom: 1rem;
}

img {
  align-self: center;
  width: 480px;
  height: 400px;
  border-radius: 100px;
}

.todays-weather, .weather-card {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 3px 3px black;
  background: #FFF;
  transition: 500ms;
}

.todays-weather:hover, .weather-card:hover {
  transform: translateY(-5px);
  transition: 500ms;
  box-shadow: 0px 2px 7px black;
}

#search-city {
  width: 500px;
  border-radius: 1rem;
  border: 1px solid gray;
  padding-left: 0.5rem;
}

.card-date {
  justify-self: end;
  align-self: end;
}