/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* End of CSS reset */

:root {
  --bg-color-dark: hsl(50, 100%, 80%);
  --bg-color: hsl(50, 100%, 60%);
  --bg-color-light: hsl(50, 100%, 40%);

  --text-color: hsl(50, 15%, 15%);
}

body, html {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: linear-gradient(hsl(52, 100%, 50%), hsl(45, 100%, 50%));
   color: var(--text-color);
}

.upcoming-weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 150px;
  gap: 1rem;
  margin-top: 1rem;
}

.content {
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 15px black;
}

.middle-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 400px;
  gap: 1rem;
}

.content > * {
  margin-bottom: 1rem;
}

img {
  align-self: center;
  width: 480px;
  height: 400px;
  border-radius: 100px;
}

.todays-weather, .weather-card {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 3px 3px black;
  background: #FFF;
  transition: 500ms;
  background: var(--bg-color);
}

.todays-weather {
  width: 600px;
}

.todays-weather:hover, .weather-card:hover {
  transform: translateY(-5px);
  transition: 500ms;
  box-shadow: 0px 2px 7px black;
}

#search-city {
  width: 600px;
  height: 30px;
  border-radius: 1rem;
  border: 1px solid var(--bg-color-light);
  padding-left: 0.5rem;
  box-shadow: 0px 0px 2px black;
}

#search-button {
  border-radius: 2rem;
  background: none;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--bg-color-light);
  position: relative;
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 0px 2px black;
}

#search-button:hover {
  border: 1px solid var(--bg-color);
  box-shadow: 0px 0px 5px var(--text-color);
}

.card-date {
  justify-self: end;
  align-self: end;
  color: rgb(50, 46, 46);
}

.content {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 2rem;
  background: var(--bg-color-dark);
  padding-bottom: 2rem;
}

.searchImg {
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  top: 0;
}

.search-section {
  position: relative;
  margin-bottom: 2rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

#gifImage {
  box-shadow: 0px 0px 5px black;
}